/WebApplication1/bin/
/WebApplication1/obj/
/src/CoronaStatsBot/bin/Debug
/src/CoronaStatsBot/bin
/src/CoronaStatsBot/obj/
/src/CoronaStatsBot/**/*.user
/src/CoronaStatsBot/.vs
/src/**/bin/
/src/**/obj/
/src/.vs/
